<div class="w-screen h-screen">
    <h2 class="text-2xl font-bold my-3 dark:text-white">Carrito</h2>

    <h2 id="empty" class="hidden text-4xl font-bold my-3 dark:text-white text-center">CARRITO VACIO</h2>

    <div id="list" class="relative overflow-x-auto mb-5">
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        Product name
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Codigo
                    </th>
                    <th scope="col" class="px-6 py-3">
                        CANTIDAD
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Price
                    </th>
                </tr>
            </thead>
            
            <tbody>
                {{#each cart.productos}}
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        {{this.producto.title}}
                    </th>
                    <td class="px-6 py-4">
                        {{this.producto.code}}
                    </td>
                    <td class="px-6 py-4">
                        {{this.qty}}
                    </td>
                    <td class="px-6 py-4">
                        ${{this.producto.price}}
                    </td>
                    <td class="px-6 py-4">
                        <button id="delProd" class="bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-4 py-2 text-center dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800" ><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" data-id="{{this.producto._id}}" stroke-width="1.5" stroke="white" class="w-6 h-6"><path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" /></svg></button>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>

    <div class="flex gap-5">
        <a href="/home/{{cart._id}}/purchase" class=" ml-2  text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Comprar</a>
        <a href="/home/products" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">volver</a>
        <button id="btnDel" type="button" class="text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-4 py-2 text-center dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800">Vaciar</button>
    </div>
    
</div>


<script src="/static/js/products.js"></script>